In [2]:
import pandas as pd

In [3]:
test_path = 'data/test.csv'

In [4]:
train_path = 'data/train.csv'

In [5]:
test_data = pd.read_csv(test_path)

In [8]:
test_data.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition'],
      dtype='object')

In [9]:
test_data.Neighborhood.head()

0      NAmes
1      NAmes
2    Gilbert
3    Gilbert
4    StoneBr
Name: Neighborhood, dtype: object

In [15]:
test_cols = ['Id','Street','SaleType']
test_data_cols = test_data[test_cols]
test_data_cols.head()

     Id Street SaleType
0  1461   Pave       WD
1  1462   Pave       WD
2  1463   Pave       WD
3  1464   Pave       WD
4  1465   Pave       WD

In [17]:
test_data_cols.count()

Id          1459
Street      1459
SaleType    1458
dtype: int64

In [22]:
test_data_cols[1:4]

     Id Street SaleType
1  1462   Pave       WD
2  1463   Pave       WD
3  1464   Pave       WD